/* This is our stylesheet */


/* The first thing to do in your stylesheet is to reset all spacing */
* {
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: Fortnite;
    src: url("Burbank Big Condensed Black.otf");
}

@font-face{
    font-family: Arabic;
    src: url("arabic.TTF");
}

/* We can redefine HTML tags */
body {
    background-color: rgb(0, 111, 145);
    background-image: url(Students-Paragraph-Writing.png);
/* Padding is the spacing inside an element */

}
h1 {
    /* Setting margin bottom-pushes content further below the heading */
    font-family: Fortnite, Comic sans ms, Helvetica, sans-serif;
    color: rgb(251, 255, 0)
}
ul {
    margin-left: 30px;
    font-family: Arabic, Fortnite, Comic sans ms, Helvetica, sans-serif;
    color: rgb(0, 0, 0)
}
p {
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: Arabic, Fortnite, Comic sans ms, Helvetica, sans-serif;
    color: rgb(0, 0, 0)
}
h2 {
    margin-left: 10px;
    font-family: Fortnite, Comic sans ms, Helvetica, sans-serif;
    color: rgb(255, 255, 255)
}
/* Formatting links */
a:link {
    margin-left: 10px;
    color: rgb(255, 211, 0);
    text-decoration: none;
    font-family: Arabic, Fortnite, Comic sans ms, Helvetica, sans-serif;
}
a:visited{
    color: rgb(157,77,187);
    text-decoration: none;
    font-family: Arabic, Fortnite, Comic sans ms, Helvetica, sans-serif;
}
a:hover{
    color: rgb(255, 211, 0);
    text-decoration: underline;
    font-family: Arabic, Fortnite, Comic sans ms, Helvetica, sans-serif;
}   

* {
    margin: 0px;
    padding: 0px;
}

.container {
    display : grid;
    grid-template-columns: 400px auto;
}

.sidebar {
    background-color:aqua;
    padding: 20px;
    margin-top: 100px;
}

.maincontent {
    background-color:pink;
    padding: 10px 20px 15px 30px;
    margin-top: 100px;
}

.top{
    font-size: 75px;
}